bp/
.git/
.idea/
.settings/
.build/
.lib/
.run/
lib/
.metadata/
.classpath
/.classpath
.project
build/
Servers/
classes/
web/WEB-INF/web.xml

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

SIST2_Travel2.iml
/bin/
bin/
.bin/

src.zip
server/
src/main/.DS_Store
