.git/
.idea/
.settings/
.build/
.lib/
lib/

.classpath
/.classpath
.project
build/
Servers/

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

SIST2_Travel2.iml